<!DOCTYPE html>
<html>
<head>
  <title>RealtimeGmap</title>
  <%= stylesheet_link_tag    "realtime_gmap/application", media: "all" %>
  <%= javascript_include_tag "realtime_gmap/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
